@import "../constants.scss";

.selectPaymentWay {
  padding: 3em 1.5em 3em 3em;

  .container {
    margin: 0 1.5em 1.5em 0;
  }

  .title {
    font-size: 1.2em;
    font-weight: bold;
    color: $MAIN_COLOR;
    padding-bottom: 1.5em;
  }
}
