$BUTTON_TEXT_COLOR: #654C13;
$BUTTON_SHADOW_COLOR: #B09641;
$BUTTON_MAIN_COLOR: #FEE487;
$BUTTON_ADDITIONAL_COLOR: #FCBD10;
$BUTTON_DISABLED_COLOR: #B6BCBC;

$CHECKBOX_DISABLED_BORDER_COLOR: #a8a8a8;
$CHECKBOX_BORDER_COLOR: #F2C977;
$CHECKBOX_DISABLED_MAIN_COLOR: #f6f6f6;
$CHECKBOX_DISABLED_ADDITIONAL_COLOR: #dfdfdf;

$MAIN_COLOR: #000002;
$SECONDARY_COLOR: #BEBEBE;
$ADDITIONAL_COLOR: #717276;
$SUPPLEMENTARY_COLOR: #82564B;

$MAIN_BORDER_COLOR: #DED6C9;
$ADDITIONAL_BORDER_COLOR: #828282;
$DISABLED_BORDER_COLOR: #C0C0C0;
$SECONDARY_BORDER_COLOR: #EDF1F4;

$MAIN_BACKGROUND_COLOR: #FFFFFF;
$ADDITIONAL_BACKGROUND_COLOR: #EDF1F4;
$SECONDARY_BACKGROUND_COLOR: #F9DE91;
$SUPPLEMENTARY_BACKGROUND_COLOR: #FEFCF0;

$HEADER_COLOR: #F65D24;
