@import "../constants.scss";

.container {
  .progress,
  .result {
    font-size: 3em;
    font-weight: bold;
  }

  .progress {
    color: $SECONDARY_COLOR;
  }

  .result {
    color: $MAIN_COLOR;
    margin-right: 0.3em;
  }

  .measurement {
    color: $MAIN_COLOR;
    font-size: 1em;
    font-weight: bold
  }
}